body {
  background-color: black;
}
.topborder {
  border: 10px double rgba(79, 56, 4, 0.955);
  height: 100px;
  background-color: rgba(215, 177, 80, 0.645);
  position: sticky;
  top: 0px;
}
.topcontent {
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
}
#background {
  font-size: 15px;
  border: 2px solid rgba(239, 230, 230, 0.893);
  background-color: rgba(85, 84, 81, 0.632);
  margin: 5px;
}

li {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 255, 255);
}
.otherli {
  font-style: normal;
  font-size: 16px;
  font-weight: lighter;
}
p span {
  color: red;
  position: absolute;
}
p {
  height: 2px;
  font-weight: normal;
  height: auto;
  color: rgb(255, 255, 255);
}
td {
  height: 2px;
  font-weight: normal;
  height: auto;
  color: rgb(240, 218, 138);
  text-align: center;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 2px solid rgba(194, 184, 72, 0.669);
  padding: 10px;
  margin: 5px;
}
div {
  position: relative;
}
a {
  color: antiquewhite;
}
a::before {
  content: ">>";
}
a::after {
  content: "<<";
}
a::selection {
  background-color: rgb(246, 216, 96);
  color: rgb(111, 186, 226);
}
